@import "tailwindcss";
@tailwind utilities;


@layer base {
    body{@apply
    bg-[#101622] text-white
    }
}

@keyframes shakeCard {
  0% { transform: rotate(3deg) translateX(0); border-color: green; background-color: gold; }
  25% { transform: rotate(4deg) translateX(-5px); background-color: rgb(148, 138, 138); }
  50% { transform: rotate(2deg) translateX(5px); background-color: gold; }
  75% { transform: rotate(3.5deg) translateX(-3px); }
  100% { transform: rotate(3deg) translateX(0); border-color: transparent }
  
}

.animate-shake {
  /* 0.6s davomida bir marta ishlaydi */
  animation: shakeCard 2s ease-in-out;
  /* border: 2px solid transparent; */
}

@layer components{
    .appContainer{
        @apply  w-[80%] mx-auto 
    }

 .btnGanres {
   @apply w-full text-left text-[#94a3b8] px-4 py-2 cursor-pointer capitalize rounded-2xl flex items-center text-2xl transition;
}



.btnGanres.active {
  @apply bg-[#101c36] text-[#408af1] font-semibold;
}


.freeTitles_btn{
    @apply p-3 bg-blue-700 text-white capitalize rounded-2xl cursor-pointer border border-blue-700
    hover:bg-white hover:text-[blue]
    duration-500 font-bold shadow
}

.FreeTitlesdownLinks{
    @apply text-center
     text-[#94a3b8] capitalize text-2xl border-b border-transparent pb-2 hover:text-blue-700 hover:border-b-blue-700 duration-300 cursor-pointer
}

.FreeTitlesdownLinks.active{@apply
text-blue-700 border-b-blue-700 hover:text-[#94a3b8] hover:border-b-[#94a3b8]
}


    

    
}
